<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.woc.mapper.AdminMapper">

    <!--示例-->

    <select id="queryUserList" resultType="com.example.woc.entity.Account">
    select * from woc.account
    </select>

    <delete id="deleteUser" parameterType="Integer">
        delete from woc.account where id = #{id}
    </delete>

    <select id="queryUserByUsername" resultType="Integer">
        select id from woc.account where username = #{username}
    </select>
</mapper>